html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  text-align: center;
  margin-left: 310px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
#i_bc {
  padding: 20px 40px;
  font-size: 27px;
  margin-bottom: 600px;
  margin-left: 200px;
}
@media (max-width: 700px) {
  form {
    margin-top: -10rem;
    margin-left: -23rem;
    margin-right: 8rem;
<<<<<<< HEAD
=======
    margin-left: -19rem;
    margin-right: 5rem;
>>>>>>> ce897de0bcb415cbbff081956beed1a5d9cc18ed
  }
  .icons {
    margin-left: -5rem;
    padding: 0;
    margin-left: -14rem;
    margin-bottom: 0px;
    margin-top: -8rem;
  }
}
