/* ----------color--------- */
/* primary - #E7F2F8
dull - #CCB8D7
brand - #6200ff
acsent - #59DE7E
secondary - #050a30 */

* {
  padding: 0;
  margin: 0;

  color: var(--secondary-color);
  background-color: var(--primary-color);
}

:root {
  --primary-color: #e7f2f8;
  --secondary-color: #050a30;
}
.dark-mode {
  --primary-color: #050a30;
  --secondary-color: #e7f2f8;
}

#icon {
  padding-left: 10px;
  cursor: pointer;
  width: 28px;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/boat.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: transparent;
}
.header h1 {
  padding-left: 2rem;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
}
.i_nav {
  height: 20px;
  width: 20px;
  background-color: transparent;
}
nav a {
  text-decoration: none;
  color: #e7f2f8;

  background-color: transparent;
}
nav h1 {
  margin-top: -90px;
  margin-right: -30px;
  text-align: right;
  font-size: 35px;
  text-shadow: 1px 1.6px 3px #59de7e;
  color: #e7f2f8;
  background-color: transparent;
}
nav img {
  width: 150px;
  background-color: transparent;
}
.nav-links {
  flex: 1;
  text-align: right;
  background-color: transparent;
  /* font-family: "Cinzel Decorative", cursive; */
}
.nav-links ul {
  margin-top: 80px;
  background-color: transparent;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

  background-color: transparent;
}
.nav-links ul li a {
  color: #e7f2f8;
  background-color: transparent;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #59de7e;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.nav_btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #e7f2f8;
  border: 1px solid #e7f2f8;
  /* margin-top: 200px; */
  padding: 5px 14px;
  font-size: 13px;
  text-align: center;
  width: 60px;
  background: transparent;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.nav_btn:hover {
  border: 1px solid #59de7e;
  background: #6200ff;
  transition: 1s;
}
.text-box {
  width: 90%;
  color: #e7f2f8;
  background-color: transparent;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h2 {
  font-size: 52px;
  color: #e7f2f8;
  background-color: transparent;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #e7f2f8;
  background-color: transparent;
}
.h_btn {
  display: inline-block;
  text-decoration: none;
  color: #e7f2f8;
  border: 1px solid #e7f2f8;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.h_btn:hover {
  border: 1px solid #59de7e;
  background: #6200ff;
  transition: 1s;
}

nav .i_nav {
  display: none;
}

@media (max-width: 700px) {
  .text-box h2 {
    font-size: 38px;
  }
  .text-box p {
    font-size: 13px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    /* background: #6200ff; */

    background: rgba(98, 0, 255, 0.326);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(98, 0, 255, 1);
    /* transition: ease-in-out 0.8s; */
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .i_nav {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  nav ul {
    padding: 30px;
  }
}

@media (max-width: 400px) {
  .text-box h2 {
    font-size: 38px;
  }
  .text-box p {
    font-size: 13px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    /* background: #6200ff; */

    background: rgba(98, 0, 255, 0.326);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(98, 0, 255, 1);
    /* transition: ease-in-out 0.8s; */
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .i_nav {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  nav ul {
    padding: 30px;
  }
}

/* <!-- ------videos---------- --> */
.vid-sec {
  width: 80%;
  margin: auto;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding-top: 90px;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  text-shadow: #5d00ff 2px 1.1px;
  color: var(--secondary-color);
}
p {
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  /* line-height: 22px; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
}
.row {
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  margin-right: 0;
  justify-content: space-between;
  color: var(--secondary-color);
  transition: 0.1s;
}
.col {
  flex-basis: 31%;
  transition: 1s;
  border-radius: 10px;
  padding: 60px 12px;
  box-sizing: border-box;
  color: var(--secondary-color);
}
#y_1 {
  background: url(../img/thumbnail4.webp);
  background-position: center;
  background-size: cover;
}
#y_2 {
  background: url(../img/thumbnail5.webp);
  background-position: center;
  background-size: cover;
}
#y_3 {
  background: url(../img/thumbnail6.webp);
  background-position: center;
  background-size: cover;
}
.v_heg {
  text-align: center;
  font-weight: 600;
  margin-top: -80px;
  padding-top: 2rem;
  color: var(--secondary-color);
  background-color: transparent;
  text-shadow: 2px 3px 4px #ff0040;
  border-radius: 30px;
}
.vid-sec .col:hover {
  box-shadow: 0 0 20px 10px #59de7e;
}
.v_btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #e7f2f8;
  border: 1px solid #e7f2f8;
  margin-top: 200px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.v_btn:hover {
  border: 1px solid #7e0000;
  background: #ff3d6d;
  transition: 1s;
}
.vm_btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: white;
  border: 1px solid #2d2564;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 12px 34px;
  font-size: 13px;
  background: #e7f2f8;
  border-radius: 10px;
  width: 90px;
  position: relative;
  cursor: pointer;
  background: rgba(98, 0, 255, 0.074);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(98, 0, 255, 1);
}
.vm_btn:hover {
  border: 1px solid #59de7e;
  background: #6200ff;
  transition: 1s;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  h2 {
    font-size: 28px;
  }
  .col {
    margin-bottom: 2rem;
  }
}

/* <!-- ------Gallery---------- --> */

.gallery {
  width: 80%;
  margin: auto;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}
.gallery-col {
  flex-basis: 32%;
  display: flex;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.gallery-col img {
  width: 100%;
  height: 450px;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: ease-in-out 0.9s;
}
.layer:hover {
  background: #59de7f88;
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: black;
  text-shadow: 1px 1.6px 2px #e7f2f8;
  font-size: 26px;
  /* top: 1rem; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  opacity: 0;
  position: absolute;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.g_heg {
  background-color: transparent;
}
.gm_btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: white;
  border: 1px solid #2d2564;
  margin-top: 2px;
  margin-bottom: 30px;
  padding: 12px 34px;
  font-size: 13px;
  background: #e7f2f8;
  border-radius: 10px;
  width: 90px;
  position: relative;
  cursor: pointer;
  background: rgba(98, 0, 255, 0.074);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(98, 0, 255, 1);
}
.gm_btn:hover {
  border: 1px solid #59de7e;
  background: #6200ff;
  transition: 1s;
}
.row-1 {
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  margin-right: 0;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .gallery {
    margin-top: 45rem;
  }
  .gallery-col {
    margin-bottom: 2rem;
  }
  .row-1 {
    margin-top: 10px;
    flex-direction: column;
  }
}

/* <!-- ------About---------- --> */
.about {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 100px;
}
.row-2 {
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  margin-right: 0;
  justify-content: space-between;
}
.about-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  margin-right: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  padding: 60px 12px;
  box-sizing: border-box;
  transition: ease-in 0.4s;
}
.about-col:hover {
  /* background: #6200ff; */
  /* From https://css.glass */
  background: rgba(98, 0, 255, 0.074);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(98, 0, 255, 1);
  transition: ease-in-out 0.6s;
}
.about-col img {
  width: 160px;
  height: 140px;
  border-radius: 50%;
}
.about h2 {
  padding: 20px;
  font-size: 50px;
}
.about-col h3,
h5 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 15px;
  border-radius: 10px;
  /* background-color: var(--primary-color); */
  background-color: transparent;
}
@media (max-width: 700px) {
  .about {
    margin-top: 900px;
    margin-left: -3.5rem;
  }
  .about p {
    font-size: 15px;
  }
  .about h2 {
    font-size: 28px;
  }
  .about-col {
    margin-bottom: 2rem;
  }
  .row-2 {
    margin-top: 10px;
    flex-direction: column;
  }
}

/* <!-- ------Contact---------- --> */
.contact {
  margin: auto;
  margin-bottom: 50px;
  margin-top: -80px;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/friends.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 150px 0;
}
.contact h2 {
  color: #e7f2f8;
  background-color: transparent;
  margin-bottom: 40px;
  padding: 0;
}
.c_btn {
  display: inline-block;
  text-decoration: none;
  color: #e7f2f8;
  border: 1px solid #e7f2f8;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.cot_input {
  padding: 10px 20px;
  color: #e7f2f8;
  background: url(../Icons/email.png) left no-repeat;
  background-size: 30px;
  text-align: center;
}
.c_btn:hover {
  border: 1px solid #59de7e;
  background: #6200ff;
  transition: 1s;
}
@media (max-width: 700px) {
  .contact h2 {
    font-size: 24px;
  }
  .c_btn {
    font-size: 9px;
    padding: 6px 10px;
  }
  .cot_input {
    background-size: 20px;
    padding: 5px 10px;
  }
}

/* <!-- ------footer---------- --> */
.f {
  /* background-color: #000; */
  border-top: 1px solid rgb(36, 36, 36);
}
.footer {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 0 0px;
  /* background-color: #000; */
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  /* background-color: #000; */
}
.footer-col {
  /* background-color: #000; */
}
.footer-col a {
  text-decoration: none;
  /* background-color: #000; */
}
.c_logo {
  height: 100px;
  width: 120px;
  /* background-color: #000; */
}
.icons-col {
  /* background-color: #000; */
}
.icons-col img {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  padding: 18px 0;
  height: 18px;
  /* background-color: #000; */
  background-color: transparent;
}
.ic_1 {
  width: 18px;
  height: 16px;
  /* background-color: #000; */
}
.company {
  text-align: left;
  width: 100%;
  padding: 30px 0;
  /* background-color: #000; */
}
.rights {
  padding: 10px;
  /* background-color: #000; */
}
.row-3 {
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  margin-right: 0;
  /* background-color: #000; */
  justify-content: space-between;
}
.nav-footer {
  display: block;
  text-align: center;
  /* background-color: #000; */
  flex-direction: column;
}
.nav-footer ul {
  /* margin-top: 100px; */
  flex-direction: column;
  /* background-color: #000; */
}
.nav-footer ul li {
  list-style: none;
  display: block;
  padding: 8px 12px;
  /* background-color: #000; */
  position: relative;
}
.nav-footer ul li a {
  color: #ccb8d7;
  text-decoration: none;
  /* background-color: #000; */
  font-size: 13px;
}
.nav-footer ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #59de7e;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-footer ul li:hover::after {
  width: 100%;
}
.l_ftr img {
  height: 40px;
  width: 50px;
  font-size: 30px;
  /* margin-top: 90px; */
  padding-left: -70px;
  /* background-color: #000; */
}
.s_ftr {
  color: #ccb8d7;
  /* background-color: #000; */
  font-size: 20px;
}
.l_ftr {
  /* background: #000; */
  border-radius: 30px;
  padding-right: 30px;
  font-size: 10px;
  margin-right: 1rem;
  text-align: center;
  display: flex;
  transition: ease-in 1s;
}
.p_1 {
  margin-top: 20px;
  margin-left: -68px;
  /* background-color: #000; */
  background-color: transparent;
}
.p_2 {
  margin-top: 20px;
  color: #e7f2f8;
  background-color: transparent;
  /* background-color: #000; */
  margin-left: -128px;
}
.p_2 b {
  background-color: transparent;
  /* background-color: #000; */
}
.he_1 {
  margin-top: 20px;
  color: #e7f2f8;
  background-color: transparent;
  /* background-color: #000; */
}
.he_1 b {
  background-color: transparent;
  /* background-color: #000; */
}
.he_2 {
  font-size: 9px;
  color: #e7f2f8;
  background-color: transparent;
  /* background-color: #000; */
  letter-spacing: 2px;
  margin-left: -10px;
}

@media (max-width: 700px) {
  .row-3 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .footer-col {
    margin-bottom: 2rem;
    margin-left: 10px;
  }
  .l_ftr {
    margin-left: 140px;
    margin-right: 90px;
  }
  .rights {
    text-align: center;
  }
  .icons-col img {
    flex-direction: column;
    display: flex;
    text-align: center;
    margin-left: 130px;
  }
  .footer h4 {
    font-weight: 300;
    font-size: 18px;
  }
  .c_logo {
    height: 160px;
    width: 180px;
  }
  .footer-col p {
    font-weight: 500;
    font-size: 15px;
  }
}
